* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #212121;
    z-index: 5;
}

.menu {
    display: flex;
    justify-content:space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted #000;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo .logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    font-weight: 400;
    font-size: 13px;
    opacity: 0.5;
    color: #FFFFFF;
    margin-top: 6px;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url('../img/uber_bg.jpg') center center/cover no-repeat;
    padding: 200px 0 185px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 23px;
}

.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.work {
    min-height: 850px;
    padding: 20px 0 29px 0;
}

.benefits {
    margin: 0 auto;
    padding: 5px 12px;
    width: 112px;
    height: 24px;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title {
    margin-bottom: 0;
    margin-top: 43px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.work .row {
    margin-top: 30px;
}

.work .work_col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.work .work_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    background: #1EACC7;
}

.work .work_text {
    margin-left: 25px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: black;
    width: 343px;
}

.work .work_text span {
    color: #1EACC7;
    font-weight: 400;
    font-size: 17px;
}